{% extends 'authorization/auth_base.html' %}
{% load static%}



{% block css %}
<style>
    .container_content{
        background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    }
</style>
{% endblock %}


{% block title %}
<title>Авторизация</title>
{% endblock %}


{% block content %}
<div class ='logo'>
    <img src="{% static 'img/templogo.png' %}">
</div>
<form class = 'auth_form' method="POST">
    {% csrf_token %}
    <span class = 'login_title'>Авторизация</span>
    {{ form }}
    <div class="button_submit_div">
        <button class="btn btn-success" type = 'submit'>Отправить</button>
    </div>
    <div class ='ref_under_button'>
        <a href="reg">Зарегестрироваться</a>
        <br>
        <a href="{% url 'marketplace1:product_list' %}" style ="font-size:15px;">Вернуться на главную</a>
    </div>
</form>
{% endblock %}