{% extends 'authorization/auth_base.html' %}

{% block content %}
{% load static %}
<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <title>Авторизация</title>
</head>
<body>
        <form class = 'auth_form' method="POST">
            {% csrf_token %}
            <span class = 'login_title'>Регистрация</span>
            {{ form }}
            <div class="button_submit_div">
                <button class="btn btn-success" type = 'submit'>Отправить</button>
            </div>
            <div class ='ref_under_button'>
                <a href="{% url 'authorization:auth_page' %}">Уже есть аккаунт</a>
                <br>
                <a href="{% url 'marketplace1:product_list' %}" style ="font-size:15px;">Вернуться на главную</a>
            </div>
        </form>
</body>

{% endblock %}