<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавить {{ selected_model_name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="edit_form" enctype='multipart/form-data' class="modal-body">
                <input type="hidden" name="object_id" value="{{ obj.id }}">
                <input type="hidden" name="tab_id" value="{{ tabnum }}">

                {% csrf_token %}
                {{ form.as_p }}
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="acceptButton" type="button" data-url="{% url 'admin_panel:accept_data' %}"
                        name="accept_data" class="btn btn-primary">Принять
                </button>

            </div>
        </div>
    </div>
</div>