{% load tz %}

{% if not chat %}
    Невозможно начать беседу. Не найден пользователь или вы не имеете доступа к данной беседе.
{% else %}
    {% if chat.message_set.all.count == 0 %}
        Напишите сообщение первым!
    {% endif %}
    {% for message in chat.message_set.all %}
        <div class="message_item_wrapper {% if message.author == user %}current_user{% endif %}">
            <div class="message_item{% if not message.is_read %} unread {% endif %}">
                <small>{{ message.pub_date|time:"H:i" }}</small>
                <p>{{ message.message|safe }}</p>
            </div>
        </div>
    {% endfor %}
{% endif %}