{% extends 'marketplace/marketplace_main_page_base.html' %}
{% load static %}
{% block carousel %}
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">s
        <div class="carousel-item active">
            <div class="carousel_cards">
                <div class="product_card">
                    <span>Some text</span>
                </div>
                <div class="product_card">
                    <span>Some text</span>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel_cards">
                <div class="product_card">
                    <span>Some text</span>
                </div>
                <div class="product_card">
                    <span>Some text</span>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel_cards">
                <div class="product_card">
                    <span>Some text</span>
                </div>
                <div class="product_card">
                    <span>Some text</span>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
    <div class="row">
    <div class="col">
        <div class="categories">
            <h2>Выберите категорию</h2>
            <div class="categories_block">
                <ol>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-10">
        <div class="content">
            <h2>Все объявления</h2>
            <div class="ad_blocks-block">
                {% for product in products %}
                <div class="ad_card">
                    <div class="ad_card-logo">
                        {% if product.image %}<img src ="{{ product.image.url }}">
                        {% else %} <img src ="{% static 'img/no_image.png' %}">
                        {% endif %}
                    </div>
                    <span class="ad_card-price">{{product.cost}}₽</span>
                    <span class="ad_card-title">{{product.title}}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}