<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    {% block title %}<title>Geek Soft - Главная</title> {% endblock %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
</head>

<body>
<div class="container">
    <header>
        <div class="row">
            <div class="col-6 location">
                <p>Местоположение: <a href="#">Иркутск</a></p>
            </div>
            <div class="col-6">
                <ul class="nav-actions">
                    <li><a href="#">Промокод</a></li>
                    <li><a href="{% url 'marketplace1:refill_page' %}">Пополнить счёт</a></li>
                    <li><a href="#">Сообщения</a></li>
                    <li><a href="#">Промокод</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <div class="logo">
                    LOGO
                </div>
            </div>
            <div class="col-2">
                <div class="categories_btn">
                    Категории
                </div>
            </div>
            <div class="col-6">
                <form action="#">
                    <input type="text" placeholder="Поиск по объялениям">
                    <button type="button" name="button">Найти</button>
                </form>
                <p>Баланс:{{ user.userdetails.balance }}</p>
            </div>
            <div class="col-2">
                <div class="make_product">
                    <span><a href ={% if user.is_authenticated %} {% url 'marketplace1:product_new' %} {% else %} {% url 'authorization:auth_page' %}{% endif %}>Разместить объяление</a></span>
                </div>
            </div>
            <div class="col-1">
                {% if user.is_authenticated %}
                <a href="{% url 'marketplace1:personal_page' %}">
                    <div class="presonal_room">Л.К.</div>
                    {{ user }}
                </a>
                <a href="{% url 'authorization:logout' %}">
                    <div class="logout">Выйти</div>
                </a>
                {% else %}
                <a href ="{% url 'authorization:auth_page' %}" class="go_auth">
                    <div class = 'go_auth_btn'>Войти</div>
                </a>
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        {% block carousel %}
        {% endblock %}

        {% block content %}
        {% endblock %}

    </main>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>
