{% extends 'authorization/auth_base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/product_new.css' %}">
{% endblock %}

{% block title %}
<title>Разместить объявление</title>
{% endblock %}

{% block content %}

<div class = "product">


    <h1>Разместить объявление</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button class = "btn btn-success" type="submit">Разместить</button>

        <a class="btn btn-danger" href="{% url 'marketplace1:product_list' %}" role="button">Отмена</a>

    </form>

</div>
{% endblock %}