<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MarketPlace</title>
</head>
<body>
    <div>
        <h1><a href = "/">Mine marketplace or blog</a></h1>
    </div>

    <div>
        <h2><a href = "">My first product</a></h2>
        <p>Здесь какое-то описание</p>
        <p>published: 09.03.20, 18:32</p>
    </div>

    <div>
        <h2><a href = "">My second product</a></h2>
        <p>Здесь опять какое-то описание</p>
        <p>published: 09.03.20, 18:32</p>
    </div>
</body>
</html>