{% extends 'marketplace/marketplace_main_page_base.html' %}
{% load static %}
{% block content %}
<div class="detail_foundation">
    <div class="detail_product">
        <div class="detail_category">
            <h7>Категория:/</h7>
            <a href="{% url 'marketplace1:search_results'%}?category={{product.category.pk}}">
                <h7>{{product.category}}</h7>
            </a>
        </div>
        <div class="detail_title">
            <h1>{{ product.title }}</h1>
        </div>
        <div class="detail_img">
            {% if product.image %}
            <img src={{ product.image.url }}>
            {% else %}
            <img src="{% static 'img/no_image.png' %}">
            {% endif %}
        </div>
        <div class="detail_description">
            <hr style="margin-bottom:0px;">
            <h3>Описание:</h3>
            <p>{{ product.description|linebreaksbr }}</p>
        </div>
        <hr style="margin-bottom:0px;">
        {% if product.published_date %}
        <div class="date">

            <p>Размещено: {{ product.published_date }}</p>
        </div>
        {% endif %}

        {% if user == product.author %}
        <a class="btn btn-warning" href="{% url 'marketplace1:product_edit' pk=product.pk %}"><span
                class="glyphicon glyphicon-pencil">Редактировать</span></a>
        {% endif %}
    </div>

    <div class="contact_block">
        <h1>{{ product.cost }}₽</h1>
        {% if not user.is_authenticated %}
        <h4 style='color:#ff7a7a;'>Что бы связаться с продавцом, необходма <a style='color:#ff7a7a;'
                                                                              href="{% url 'authorization:auth_page' %}">
            <h4> авторизация </h4></a></h4>
        {% elif user.is_authenticated %}
        {% if product.author != user %}
        <h3>Связаться с продавцом:</h3>
        <a href="{% url 'marketplace1:personal_page' pk=product.author.pk %}"><h4>{{product.author.first_name}}
            {{product.author.last_name}}</h4></a>
        <h4>Номер телефона:{{product.author.cellphone}}</h4>
        <form action="{% url 'messenger:create_dialog' friend_id=product.author.pk product_id=product.id%}">
            <button class="btn btn-primary" type="submit">Написать</button>
        </form>
        {% else %}
        <form action="{% url 'marketplace1:delete_product' product_id=product.pk %}">
            <button class="btn btn-danger" type="submit">Убрать с продажи</button>
        </form>
        {% endif %}
        <div class="favorite_block">
            {% include "includes/favorite_block.html" %}
        </div>

        {% endif %}
    </div>
</div>

{% endblock %}