{% extends 'authorization/auth_base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/product_new.css' %}">
{% endblock %}

{% block title %}
<title>Разместить объявление</title>
{% endblock %}

{% block content %}
<div class = "title_page">
    <h1>Разместить объявление</h1>
</div>

<div class = "product">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
</div>
{% endblock %}