{% extends 'marketplace/marketplace_main_page_base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/admin_panel.css' %}">
{% endblock %}

{% block content %}
<div id="modal_window">
    {% include 'includes/modal_change_object.html'%}
</div>

<div class="container-content">
    <a class="list-group-item list-group-item-action bg-info text-dark"
       href="{% url 'admin_panel:admin_main' %}">Назад</a>
    <h2 class="zagolovok">Администрирование таблицы БД</h2>
</div>

<h4 class="zagolovok">Таблица: {{ selected_model_name }}</h4>

<div class="table_block">
    <table class="table table-bordered table-hover table-dark">
        <thead>
        <tr>
            <th class="functions-table" scope="col">
                Действия
            </th>
            {% for field in fields %}
            <th scope="col">{{ field.name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>

        {% for obj in values_of_fields %}
        <tr>
            <td class="functions-table">
                <form method="POST" class="d-flex mt-2">
                    {% csrf_token %}
                    <input type="hidden" name="object_id" value="{{ obj.0 }}">
                    <button type="button" data-url="{% url 'admin_panel:admin_current_table' pk=tabnum %}"
                            name="send_object_data" class="btn btn-primary">Редактировать
                    </button>

                </form>
                <a class="list-group-item list-group-item-action bg-danger text-dark" href="/product/1/edit">Удалить</a>
            </td>

            {% for value in obj %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}