{% extends 'marketplace/marketplace_main_page_base.html' %}
{% load static %}

{% load index %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/admin_panel.css' %}">
{% endblock %}

{% block content %}

<h2 class="zagolovok">Администрирование таблицы БД</h2>
<h4 class="zagolovok">Таблица: {{ selected_model_name }}</h4>


<table class="table table-hover table-dark">
    <thead>
    <tr>
        {% for field in fields %}
        <th scope="col">{{ field.name }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>

    {% for obj in values_of_fields %}
        <tr>
            {% for value in obj %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}