{% extends 'marketplace/marketplace_main_page_base.html' %}
{% load static %}
{% block title %}<title>Редактирование таблицы </title>{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/admin_panel.css' %}">
{% endblock %}

{% block content %}

<form method="POST" class="zagolovok">
    <h4 class="zagolovok">{{ selected_model_name }} - {{ obj }}</h4>

    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success" type="submit">Разместить</button>
    <a class="btn btn-danger" href="{%url 'admin_panel:admin_current_table' pk=tabnum%}">Отмена</a>
</form>

{% endblock %}