{% extends 'marketplace/marketplace_main_page_base.html' %}
{% load static %}
{% block title %}<title>Редактирование таблицы </title>{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/admin_panel.css' %}">
{% endblock %}

{% block content %}
<div class="table_block">
    <table class="table table-bordered table-hover table-dark">
        <thead>
        <tr>
            <th class="functions-table" scope="col">
                Действия
            </th>
            {% for field in fields %}
            <th scope="col">{{ field.name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="functions-table">

                <a class="list-group-item list-group-item-action bg-danger text-dark" href="/product/1/edit">Удалить</a>
            </td>

            {% for value in obj %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
</div>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success" type="submit">Разместить</button>
    <a class="btn btn-danger" href="{%url 'admin_panel:admin_current_table' pk=tabnum%}">Отмена</a>
</form>

{% endblock %}