{% extends 'marketplace/marketplace_main_page_base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/admin_panel.css' %}">
{% endblock %}

{% block content %}

<h2 class="zagolovok">Администрирование</h2>

<div class="card-deck mb-4 text-center">
    <div class="card">
        <div class="card-header">
            Таблицы БД
        </div>
        <ul class="list-group list-group-flush">
            {% for table_name in table_names %}
            <a class="list-group-item list-group-item-action" href="{% url 'admin_panel:admin_current_table' pk=counter.count %}">{{ table_name }}</a>
            {{ counter.increment }}
            {% endfor %}
        </ul>
    </div>
    <div class="card" style="height: 139px">
        <div class="card-header">
            Модерирование
        </div>
        <ul class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action" href="/product/1/edit">Товары</a>
                <a class="list-group-item list-group-item-action" href="/product/1/edit">Пользователи</a>
        </ul>
    </div>
</div>
{% endblock %}