{% extends 'marketplace/marketplace_main_page_base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/admin_panel.css' %}">
{% endblock %}

{% block content %}
<a class="list-group-item list-group-item-action bg-info text-dark"
       href="{% url 'admin_panel:admin_main' %}">Назад</a>
<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Модерация товаров</h2>

            {% for product in products %}
            <div id="product_block-{{product.id}}"
                 class="moderate_product_block d-flex align-items-center news-moderate_wrap">
                {% include 'includes/inc_product_item.html' %}
                <div class="product-moderate_btns">
                    <button onclick="accept_product({{ product.pk }})"
                            class="accept_product_button btn btn-outline-success"
                            data-url="{% url 'admin_panel:accept_moderate_product' pk=product.id%}">
                        OK
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>

                    <button onclick="cancel_product({{ product.pk }})"
                            class="cancel_product_button btn btn-outline-danger"
                            data-url="{% url 'admin_panel:cancel_moderate_product' pk=product.id%}">
                        X
                        <i class="fa fa-ban" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            {% endfor %}

            {% if not products %}
            <p class="text-center">Нет товаров для модерации</p>
            {% endif %}

            <!--                <a href="{% url 'admin_panel:moderate_product' %}" class="btn btn-success">Завершить модерирование</a>-->

        </div>
    </div>
</div>
{% endblock %}