.auth_window_wrap{
    padding: 80px 20px 33px 85px;
}

.title_page{
    margin-bottom: 75px;
}

.input_field {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.opisanie{
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 14px 30px 0 68px;
}
.cbtn-danger{
display: contents;
}
.product h1{
    margin-bottom: 50px;
}