{% extends 'marketplace/marketplace_main_page_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/product_new.css' %}">
{% endblock %}

{% block content %}
<div class = "product">

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class = "btn btn-success" type="submit">Разместить</button>
        <a class = "btn btn-danger" href="{%url 'marketplace1:personal_edit' pk=user.pk%}">Отмена</a>
    </form>
</div>
{% endblock %}